@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

@font-face {
  font-family: "ActionComicsBlack";
  src: url("/fonts/ActionComicsBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Happy Monkey", cursive;
}

.comic-font-white {
  font-family: "ActionComicsBlack";
  filter: invert(100%);
  -webkit-text-stroke: 2px white; /* for WebKit-based browsers */
}

.doodle-shadow {
  box-shadow: -4px 4px 0px 0px #000;
}

.doodle-button:active,
.doodle-button-pressed {
  transform: translateY(2px);
  box-shadow: -3px 3px 0px 0px #333;
}

.curtain {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  z-index: 50;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  justify-content: center;
  align-items: center;
  display: flex;
}

.curtain.active {
  height: 100vh;
}

.curtain p {
  display: none;
}

.curtain.active p {
  display: flex;
}

.pushable {
  background: gray;
  border-radius: 0px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 0px;
  font-size: 1.25rem;
  background-color: white;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.cyberpunk-font {
  font-family: "ActionComicsBlack";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black; /* for WebKit-based browsers */
}
